<!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->

  <h4>Formularios <small>template</small></h4>
  <hr>
  <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>
      <div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Nombre</label>
            <div class="col-md-8">
                <input type="text" required
                class="form-control"
                name="nombre"
                [ngModel]=user.nombre>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Apellido</label>
            <div class="col-md-8">
                <input type="text" required
                class="form-control"
                name="apellido"
                [(ngModel)]=user.apellido>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">Correo</label>
            <div class="col-md-8">
                <input type="email" required
                class="form-control"
                name="correo"
                [ngModel]=user.correo
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-2 col-form-label">&nbsp;</label>
            <div class="input-group col-md-8">
                <button type="submit" class="btn btn-outline-primary">
                    Guardar
                </button>
            </div>
          </div>
      </div>
  </form>